/* Common styles for all screen sizes */
body, h1, h2, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'San-serif', Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

section {
  margin: 2%;
  padding: 2%;
}

header {
  width: 100%;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  background-color: #006400;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #333;
}

footer {
  margin-top: 2%;
  padding: 1%;
  background-color: #006400;
  color: white;
  text-align: center;
}

#hobbies {
  width: 80%;
  margin: 0 auto;
}

#summary, #education, #skills, #Activities {
  max-width: 800px;
  margin: 0 auto;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left;
  margin-right: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

video {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  color: #007BFF;
}

p {
  line-height: 1.5;
}

ol, ul {
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}

address {
  font-style: italic;
}

/* Media Queries for Mobile Devices */
@media (min-width: 600px) {
  /* Adjustments for screens wider than 600px */
  header {
    font-size: 1.5em;
    padding: 10px;
  }

  nav ul li {
    margin: 0 15px;
  }

  p {
    font-size: 16px;
  }

  footer {
    padding: 2%;
  }

  #hobbies {
    width: 90%;
  }

  #summary, #education, #skills, #Activities {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  /* Adjustments for screens wider than 768px */
  header {
    font-size: 2em;
    padding: 20px;
  }

  nav ul li {
    margin: 0 20px;
  }

  p {
    font-size: 18px;
  }

  footer {
    padding: 3%;
  }

  #hobbies {
    width: 95%;
  }

  #summary, #education, #skills, #Activities {
    max-width: 95%;
  }
}
